<!DOCTYPE html>
<html>
<head>
    <link href="home.css" rel="stylesheet">
    <title>Main Page</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul>
                <li><a class="active" href="/home">Home</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/notes">Notes</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="welcomeMessage">
                <h1>Witaj Użytkowniku!</h1>
            </div>
            <div class="faqSection">
                <div class="faqItem">
                    <h2>Firma NoteBuilders</h2>
                    <p>
                        NoteBuilders to innowacyjna firma edukacyjna, która specjalizuje się w pomaganiu uczniom w nauce za pomocą specjalnie przygotowanych
                        notatek dostosowanych do ich indywidualnych potrzeb. Nasza misja to ułatwienie procesu nauki, czyniąc go bardziej skutecznym i 
                        przyjemnym dla uczniów w każdym wieku.
                    </p>
                </div>
                <div class="faqItem">
                    <h2>Nasze Notatki</h2>
                    <p>Nasze notatki są unikalne, ponieważ są tworzone z myślą o konkretnym temacie, przedmiocie lub kursie. Dzięki temu nasi uczniowie 
                        otrzymują materiały, które są idealnie dopasowane do ich bieżących potrzeb i poziomu wiedzy. Każda notatka jest starannie opracowywana 
                        przez nasz zespół ekspertów, którzy posiadają głęboką wiedzę w swoich dziedzinach.
                    </p>
                </div>
                <div class="faqItem">
                    <h2>Korzyści</h2>
                    <p>Korzystając z naszych notatek, uczniowie mają szansę zwiększyć swoją efektywność w nauce, osiągnąć lepsze wyniki w szkole i zyskać 
                        pewność siebie. Nasze materiały są przejrzyste, zrozumiałe i zawierają kluczowe informacje, co ułatwia zapamiętywanie i zrozumienie 
                        trudnych koncepcji.
                    </p>
                </div>
                <div class="faqItem">
                    <h2>Cel</h2>
                    <p>Celem firmy specjalizującej się w tworzeniu notatek jest ułatwienie procesu nauki i wspieranie uczniów oraz studentów w zdobywaniu wiedzy. Poprzez dostarczanie wysokiej jakości notatek dostosowanych do indywidualnych potrzeb użytkowników, firma dąży do zwiększenia efektywności i skuteczności nauki.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
