<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="news.css">
    <title>Strona w trakcie budowy</title>
</head>
<body>
    <div class="navbar">
        <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/notes">Notes</a></li>
        </ul>
    </div>
    <div class="under-construction">
        <h1>Strona w trakcie budowy</h1>
        <p>Przepraszamy za niedogodności, ale nasza strona jest obecnie w trakcie budowy.</p>
        <div class="construction-cone">
            <img src="worker-with-hammer.jpg">
        </div>
    </div>
</body>
</html>
