<!DOCTYPE html>
<html>
<head>
    <link href="notes.css" rel="stylesheet">
    <title>Main Page</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul>
                <li><a class="active" href="/home">Home</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/notes">Notes</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Welcome to Notatki</h1>
            <div class="note">
                <h2 class="noteTitle">20.09.23 Biologia</h2>
                <p class="noteContent">
                    Homeostaza -> Stan równowagi organizmu - Stan w którym
                    organizm wykazuje zdolność utrzymania stałych warunków
                    środowiskowych.
                    <br><br>
                    Homeostaza:
                    <ul>
                        <li>Temperatura, człowieka 35 - 37</li>
                        <li>Ciśnienie krwi 120/80 mm/Hg</li>
                        <li>O2, CO2</li>
                        <li>Składniki mineralne czyli mikro i makro elementy</li>
                        <li>Poziom cukru - glukoza C6H12O6 -> 70-140 mg/ml krwi</li>
                        <li>Nawodnienie H2O</li>
                        <li>pH</li>
                    </ul>
                    <br>
                    Zaburzenia Homeostazy:
                    <ul>
                        <li>Choroby</li>
                        <li>Stres</li>
                        <li>Brak snu</li>
                        <li>Warunki atmosferyczne</li>
                        <li>Zła dieta</li>
                        <li>Alkohol, Używki, Papierosy</li>
                        <li>Brak ruchu</li>
                    </ul>
                    <br>
                    Wszystkie organizmy pochodzą od jednego organizmu, dlatego
                    mamy wiele cech wspólnych.
                    <br><br>
                    Tkanka jest to zbiór komórek o podobnej budowie pełniących
                    podobną funkcję w organizmie, czyli komórki które tworzą tkanki
                    są niemal identyczne.
                    <br><br>
                    Komórka -> Tkanka -> Narząd -> Układ narządów -> Organizm
                    <br><br>
                    Tkanki:
                    <ul>
                        <li>Tk.Łączna</li>
                        <li>Tk.Chrzęstna</li>
                        <li>Tk.kostna</li>
                        <li>Tk.tłuszczowa</li>
                        <li>Krew</li>
                        <li>Tk.nabłonkowa
                            <ol>
                                <li>Zbudowana jest z ściśniętych i sztywnych komórek</li>
                                <li>Mamy nabłonek jednowarstwowy płaski występuje w płucach, gdzie umożliwa wymianę gazową</li>
                                <li>Nabłonek jednowarstwowy sześcienny znajduje się w nerkach, uczestniczy przy wydzielaniu i wchłanianiu różnych substancji</li>
                                <li>Nabłonek walcowaty z rzęskami, oczyszcza drogi oddechowe z cząstej pyłu i drobnoustrojów, może również budować jelito cienkie</li>
                                <li>Nabłonek rogowaciejący -> Taki który się sciera</li>
                            </ol>
                        </li>
                        <li>Tk.mięśniowa
                            <ul>
                                <li>Tkanka mięśniowa poprzecznie prążkowana szkieletowa
                                    <ul>
                                        <li>Szybko się męczą</li>
                                        <li>Działają zależnie od naszej woli</li>
                                        <li>Skurcz jest szybki i krótki</li>
                                    </ul>
                                </li>
                                <li>Tkanka mięśniowa poprzecznie prążkowana serca
                                    <ul>
                                        <li>Nie zależna od naszej woli</li>
                                        <li>Będzie działał aż do końca</li>
                                        <li>Działa powoli i długotrwale</li>
                                    </ul>
                                </li>
                                <li>Tkanka mięśniowa gładka
                                    <ul>
                                        <li>Skurcz powolny i długo trwały</li>
                                        <li>Niezależny od naszej woli</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>Tk.nerwowa
                            <ul>
                                <li>Komórka to neuron, jest ona wykorzystywana do przekazywnia informacji w formie sygnałów atp</li>
                                <li>Dendryty doprowadzają impulsy do ciała komórki</li>
                                <li>Akson - jedna długa wypustka
                                    <ul>
                                        <li>Jest otoczony osłonką mielinową</li>
                                    </ul>
                                </li>
                                <li>Synapsa - Przestrzeń pomiędzy komórkami</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
